{erl_opts, [debug_info]}.
{deps, [bbmustache]}.

{profiles, []}
  {test, [
    {deps, [
      {proper, "1.4.0"}
      ]
    }
  ]},
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [gabarit]}
]}.

{alias, [
    {test, [
        {ct, "--verbose"},
        {proper, "-n 1000"}
    ]},
    {proptest, [
        {proper, "-n 1000"}
    ]}
]}.

{plugins, [
    {rebar3_proper, "0.12.1"}
]}.
